<div class="row">
  <div class="col-md-6">
    <h3>9月11日（木）</h3>
    <table class="table table-striped">
      <!-- #### Temporarily comment-out survey until we get it set up #### <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr> -->
      <tr> <td>午前10:00~</td>  <td>ワークショップ概要</td> </tr>
      <tr> <td></td>  <td>RNA-seq 入門</td> </tr>
      <tr> <td></td>  <td>RStudioプロジェクトおよび実験データについて</td> </tr>
      <tr> <td>午後</td>  <td>R環境への定量データのインポートとアノテーション処理</td> </tr>
      <tr> <td></td>  <td>探索的分析と品質管理</td> </tr>
      <tr> <td>17:00</td>  <td>終了</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>9月12日（金）</h3>
    <table class="table table-striped">
      <tr> <td>午前10:00~</td>  <td>DE解析</td> </tr>
      <tr> <td></td>  <td>Design matrices のさらなる探索</td> </tr>
      <tr> <td>午後</td>  <td>Gene Set エンリッチメント解析</td> </tr>
      <tr> <td>17:00</td>  <td>終了</td> </tr>
    </table>
  </div>
</div>
